@namespace EcoMeal.client.Components.BusinessCard
@using EcoMeal.client.Components.BusinessDeleteButton
@using Microsoft.AspNetCore.Components.Authorization



<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">@Business.Name</h5>
    <p class="card-text">@Business.Description</p>
    <p class="card-text">@Business.Address</p>
    <p class="card-text">@Business.Contact</p>
     <AuthorizeView Roles="Admin">
        <BusinessDeleteButton BusinessId="@Business.BusinessId" OnDeleted="OnDeleted" />
     </AuthorizeView>

  </div>
</div>